

.contenedorPublicLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.contenedorPublicLayout > main {
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(84, 84, 227);
}

.navbar {
    background-color: rgb(220, 110, 110);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
    padding: 0;
}

#navbar__li__botonLogin {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar__botonLogin {
    background-color: indigo;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navbar__botonLogin:hover {
    background-color: rgb(81, 33, 115);
}

.contenedorPublicLayout > footer {
    background-color: rgb(220, 110, 110);
}

nav { /*es el sidebar */
    width: 18rem;
    background-color: brown;

}

.contenedorPrivateLayout {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.contenedorPrivateLayout > main {
    display: flex;
    background-color: blueviolet;
    width: 100%;
    overflow-y: scroll;
}